# Directory
[Bb]uild
[Ll]ogs
[Rr]esults
[Dd]ata_local
[Ee]xternal/

examples/**/neko
examples/debug/*
!examples/debug/debug.case
!examples/debug/CMakeLists.txt

# Translated unit test files
tests/unit/**/*.F90

# Preparation scripts
prepare.env

# Project specific files
*.nek5000
*.f*

# Temporary files
__pycache__/
.venv
*.swp

# Fortran-specific files
!*.fprettify.rc
!*.f90
fort.9
*.f90~
*.f90.bak

# Animations
manim_media/
*.mp4
*.gif

# Documentation files
doxygen.log
html/
*.html
