[submodule "json-fortran"]
	path = external/json-fortran
	url = https://github.com/jacobwilliams/json-fortran.git
	branch = master
[submodule "neko"]
	path = external/neko
	url = https://github.com/ExtremeFLOW/neko.git
	branch = develop
[submodule "Nek5000"]
	path = external/Nek5000
	url = https://github.com/Nek5000/Nek5000.git
	branch = master
