# Directory
[Bb]uild
[Ll]ogs
[Rr]esults
[Dd]ata_local

examples/debug/*
!examples/debug/debug.case
!examples/debug/CMakeLists.txt

# Preparation scripts
prepare.env

# Project specific files
neko
!neko/
*.nek5000
*.f*

# Temporary files
*.exo
*.re2
__pycache__/
.venv

# Fortran-specific files
!*.fprettify.rc
!*.f90
fort.9
*.f90~
*.f90.bak

# Animations
manim_media/
*.mp4
*.gif

html/
