[submodule "json-fortran"]
	path = external/json-fortran
	url = https://github.com/jacobwilliams/json-fortran.git
	branch = master
[submodule "neko"]
	path = external/neko
	url = https://github.com/ExtremeFlow/neko.git
	branch = develop
