{
    "version": 1.0,
    "case": {
        "mesh_file": "data_local/static_mixer/mixer_8x2x2.nmsh",
        "output_boundary": false,
        "output_checkpoints": false,
        "output_at_end": false,
        "runtime_statistics": {
            "enabled": true
        },
        "time": {
            "end_time": 1e-2,
            "timestep": 1e-4
        },
        "numerics": {
            "time_order": 3,
            "polynomial_order": 7,
            "dealias": true
        },
        "fluid": {
            "scheme": "pnpn",
            "Re": 1000.0,
            "strict_convergence": true,
            "output_control": "never",
            "initial_condition": {
                "type": "uniform",
                "value": [ 1.0, 0.0, 0.0 ]
            },
            "velocity_solver": {
                "type": "cg",
                "preconditioner": { "type": "jacobi" },
                "projection_space_size": 0,
                "absolute_tolerance": 1e-8,
                "max_iterations": 100
            },
            "pressure_solver": {
                "type": "gmres",
                "preconditioner": { "type": "hsmg" },
                "projection_space_size": 0,
                "absolute_tolerance": 1e-7,
                "max_iterations": 100
            },
            "boundary_conditions ": [
                {
                    "type": "velocity_value",
                    "value": [ 1.0, 0.0, 0.0 ],
                    "zone_indices": [ 1 ]
                },
                {
                    "type": "outflow",
                    "zone_indices": [ 2 ]
                },
                {
                    "type": "no_slip",
                    "zone_indices": [ 3, 4, 5, 6 ]
                }
            ]
        },
        "adjoint_fluid": {
            "initial_condition": {
                "type": "uniform",
                "value": [ 0.0, 0.0, 0.0 ]
            },
            "boundary_conditions": [
                {
                    "type": "no_slip",
                    "zone_indices": [ 1, 3, 4, 5, 6 ]
                },
                {
                    "type": "outflow",
                    "zone_indices": [ 2 ]
                }
            ]
        },
        "scalar": {
            "name": "temperature",
            "enabled": false,
            "Pe": 1000.0,
            "solver": {
                "type": "cg",
                "preconditioner": {
                    "type": "jacobi"
                },
                "projection_space_size": 0,
                "absolute_tolerance": 1e-6,
                "max_iterations": 100
            },
            "boundary_conditions": [
                {
                    "type": "user",
                    "zone_indices": [ 1 ]
                },
                {
                    "type": "neumann",
                    "flux": 0,
                    "zone_indices": [ 2, 3, 4, 5, 6 ]
                },
            ],
            "initial_condition": {
                "type": "user"
            }
        },
        "point_zones": [
            {
                "name": "optimization_domain",
                "geometry": "box",
                "x_bounds": [ 1.0, 3.5 ],
                "y_bounds": [ 0.0, 1.0 ],
                "z_bounds": [ 0.0, 1.0 ]
            }
        ]
    },
    "checkpoints": {
        "enabled": true,
        "n_saves_memory": 5,
        "keep_checkpoints": true
    },
    "optimization": {
        "domain": {
            "type": "point_zone",
            "zone_name": "optimization_domain"
        },
        "design": {
            "type": "brinkman",
            "mapping": [
                {
                    "type": "PDE_filter",
                    "r": 0.01
                },
                {
                    "type": "RAMP",
                    "f_max": 100
                }
            ],
            "initial_distribution": {
                "type": "uniform",
                "value": 0.05
            }
        },
        "solver": {
            "type": "mma",
            "max_iterations": 2,
            "tolerance": 1.0e-3,
            "mma": {
                "max_iter": 100,
                "asyinit": 0.5,
                "asyincr": 1.2,
                "asydecr": 0.7,
                "scale": 10.0,
                "auto_scale": false,
                "xmin": 0.0,
                "xmax": 1.0,
                "a0": 1.0,
                "a": 0.0,
                "c": 1000.0,
                "d": 1.0
            }
        },
        "objectives": [
            {
                "type": "minimum_dissipation",
                "weight": 1.0
            },
            {
                "type": "lube_term",
                "weight": 1.0,
                "K": 1.0
            }
        ],
        "constraints": [
            {
                "type": "volume",
                "mask_name": "optimization_domain",
                "limit": 0.0,
                "is_max": false
            }
        ]
    }
}