{
    "version": 1.0,
    "case": {
        "mesh_file": "data_local/brinkman_parameters/meshed_M3.nmsh",
        "output_at_end": false,
        "output_boundary": false,
        "output_checkpoints": false,
        "end_time": 150.0,
        "timestep": 2.5e-3,
        "variable_timestep": true,
        "target_cfl": 0.4,
        "max_timestep": 1.0E-2,
        "numerics": {
            "time_order": 3,
            "polynomial_order": 7,
            "dealias": true
        },
        "fluid": {
            "scheme": "pnpn",
            "Re": 200.0,
            "initial_condition": {
                "type": "user",
            },
            "inflow_condition": {
                "type": "uniform",
                "value": [
                    1.0
                ]
            },
            "velocity_solver": {
                "type": "cg",
                "preconditioner": "jacobi",
                "projection_space_size": 0,
                "absolute_tolerance": 1e-8,
                "max_iterations": 800
            },
            "pressure_solver": {
                "type": "gmres",
                "preconditioner": "hsmg",
                "projection_space_size": 0,
                "absolute_tolerance": 1e-7,
                "max_iterations": 800
            },
            "output_control": "simulationtime",
            "output_value": 2.5,
            "boundary_types": [
                "w",
                "v",
                "o+dong",
                "on",
                "on",
            ],
        },
        "point_zones": [
            {
                "name": "cylinder",
                "geometry": "cylinder",
                "start": [
                    0.0,
                    0.0,
                    0.0
                ],
                "end": [
                    0.0,
                    0.0,
                    1.0
                ],
                "radius": 0.5
            }
        ],
        "simulation_components": [
            {
                "order": 1,
                "type": "derivative",
                "field": "u",
                "direction": "x"
            },
            {
                "order": 2,
                "type": "derivative",
                "field": "u",
                "direction": "y"
            },
            {
                "order": 3,
                "type": "derivative",
                "field": "v",
                "direction": "x"
            },
            {
                "order": 4,
                "type": "derivative",
                "field": "v",
                "direction": "y"
            },
            // Statistics
            {
                "type": "fluid_stats",
                "compute_control": "tsteps",
                "compute_value": 5,
                "output_control": "simulationtime",
                "output_value": 50,
                "start_time": 50.0,
                "set_of_stats":"basic"
            },
            // one BL (45 degrees)
            {
                "type": "probes",
                "fields": [
                    "u",
                    "v",
                    "w",
                    "p",
                    "du_dx",
                    "du_dy",
                    "dv_dx",
                    "dv_dy",
                ],
                "output_file": "BL_45.csv",
                "compute_control": "simulationtime",
                "compute_value": 0.01,
                "points": [
                    {
                        "type": "line",
                        "start": [ 0.3535533906, 0.3535533906, 0.51 ],
                        "end": [ 0.53033008589, 0.53033008589, 0.51 ],
                        "amount": 400
                    }
                ]
            },

            // one BL (30 degrees)
            {
                "type": "probes",
                "fields": [
                    "u",
                    "v",
                    "w",
                    "p",
                    "du_dx",
                    "du_dy",
                    "dv_dx",
                    "dv_dy",
                ],
                "output_file": "BL_30.csv",
                "compute_control": "simulationtime",
                "compute_value": 0.01,
                "points": [
                    {
                        "type": "line",
                        "start": [ 0.4330213621, 0.250005, 0.51 ],
                        "end": [ 0.64951905283, 0.375, 0.51 ],
                        "amount": 400
                    }
                ]
            },

            // one BL (60 degrees)
            {
                "type": "probes",
                "fields": [
                    "u",
                    "v",
                    "w",
                    "p",
                    "du_dx",
                    "du_dy",
                    "dv_dx",
                    "dv_dy",
                ],
                "output_file": "BL_60.csv",
                "compute_control": "simulationtime",
                "compute_value": 0.01,
                "points": [
                    {
                        "type": "line",
                        "start": [ 0.250005, 0.4330213621, 0.51 ],
                        "end": [ 0.375, 0.64951905283, 0.51 ],
                        "amount": 400
                    }
                ]
            },

            // circles 0.51
            {
                "type": "probes",
                "fields": [
                    "u",
                    "v",
                    "w",
                    "p",
                    "du_dx",
                    "du_dy",
                    "dv_dx",
                    "dv_dy",
                ],
                "output_file": "circ_050.csv",
                "compute_control": "simulationtime",
                "compute_value": 0.01,
                "points": [
                    {
                        "type": "circle",
                        "center": [ 0.0, 0.0, 0.51 ],
                        "normal": [ 0.0, 0.0, 1.0 ],
                        "axis": "x",
                        "radius": 0.51,
                        "amount": 720
                    }
                ]
            },

            // circles 0.52
            {
                "type": "probes",
                "fields": [
                    "u",
                    "v",
                    "w",
                    "p",
                    "du_dx",
                    "du_dy",
                    "dv_dx",
                    "dv_dy",
                ],
                "output_file": "circ_052.csv",
                "compute_control": "simulationtime",
                "compute_value": 0.01,
                "points": [
                    {
                        "type": "circle",
                        "center": [ 0.0, 0.0, 0.51 ],
                        "normal": [ 0.0, 0.0, 1.0 ],
                        "axis": "x",
                        "radius": 0.52,
                        "amount": 720
                    }
                ]
            },

            // circles 0.55
            {
                "type": "probes",
                "fields": [
                    "u",
                    "v",
                    "w",
                    "p",
                    "du_dx",
                    "du_dy",
                    "dv_dx",
                    "dv_dy",
                ],
                "output_file": "circ_055.csv",
                "compute_control": "simulationtime",
                "compute_value": 0.01,
                "points": [
                    {
                        "type": "circle",
                        "center": [ 0.0, 0.0, 0.51 ],
                        "normal": [ 0.0, 0.0, 1.0 ],
                        "axis": "x",
                        "radius": 0.55,
                        "amount": 720
                    }
                ]
            },
            // Surface integral on cylinder
            // NOTE! we should be careful, neko is technically 3D not 2D,
            // So this will be doing a surface integral. The only reason I
            // this we'll get the same results is that it is unit thickness.
            // But if we end up doing a long 3D cylinder we need to remember
            // to account for the spanwise length.
            {
              "type": "force_torque",
              "zone_id": 1,
              "center": [0.0, 0.0, 0.0],
              "scale": 1.0,
              "long_print" : false,
              "compute_control" : "simulationtime",
              "compute_value" : 0.01,
            },
        ]
    }
}
